<div class="col-3 col-sm-4 col-md-4 col-lg-1 mb-1 text-center" style="max-width: 150px; min-width: 120px;">
    <button type="button" class="btn btn-info p-1 pt-5 dialogCountryImg btn-block"></button>
</div>