<div class="card p-0 ml-1 mr-1 mb-2 displayCountryCard">
    <div class="card-img-top displayCountryCardImg"></div>
    <div class="card-body p-1">
        <h5 class="card-title countryName"></h5>
        <p class="card-text content"></p>
        <p class="card-text">
            <small class="text-muted footer"></small></p>
    </div>
</div>