.displayCountryCardImg   {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 140px;
}

.displayCountryCard{
    max-width: 20rem; 
    min-width: 12rem;
}

.dialogCountryImg{
    background-size: auto 45px;
    background-position: center top;
    background-repeat: no-repeat;
}

.content p {
    margin: auto;
}
